#hero {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 0px;
  background: $white-color;
  font-weight: 400;
  color: $dark-blue-text;
  padding: 0rem 5.6rem;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;

  // Set position sticky so the jumbotron stays fixed while you scroll.
  // position: sticky;

  // If you want to set a background image on the hero section, uncomment these with your custom image

  /* background: url("/src/assets/[your-image].png");
  background-position: center;
  background-size: cover; */

  @include respond(phone) {
    padding: 0rem $default-font-size;
  }

  .hero-title {
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
    text-align: left;

    @include respond(tab-land) {
      font-size: 4rem;
    }
    @include respond(tab-port) {
      font-size: 3.6rem;
      text-align: center;
    }
    @include respond(phone) {
      font-size: 3.5rem;
      line-height: 1.5;
    }
    @include respond(phone-xs) {
      font-size: 2.8rem;
    }
  }

  .hero-cta {
    display: flex;

    @include respond(tab-port) {
      justify-content: center;
    }

    & a {
      font-size: 2.4rem;

      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }

  @keyframes fadeAndScale {
    0%, 33.33%, 66.66%, 100% {
      opacity: 0;
      transform: scale(1.2);
      color: #FF5733;
      text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    }
    10%, 43.33%, 76.66% {
      opacity: 1;
      transform: scale(1);
      color: $primary-color;
      text-shadow: none;
    }
  }
  
  .role-container {
    display: inline-block;
    position: relative;
    height: 2em; // Adjust based on your text size
    overflow: hidden;
  }
  
  #role {
    display: inline-block;
    // position: absolute;
    animation: fadeAndScale 9s infinite ease-in-out;
  }
  
  @keyframes rotateRoles {
    0%, 33.33% {
      content: "Software Engineer";
    }
    33.34%, 66.66% {
      content: "Full Stack Developer";
    }
    66.67%, 100% {
      content: "Backend Developer";
    }
  }
  
  #role::before {
    content: "Software Engineer";
    animation: rotateRoles 9s infinite step-start;
  }
  
  
}
