.footer {
  background-color: #0a192f;
  color: #8892b0;
  padding: 4.8rem 0;
  border-top: 1px solid #233554;

  @include respond(phone) {
    border: 0px;
    border-top: 1px solid #233554;
  }

  &__text {
    color: #8892b0;
    font-size: 1.5rem;

    a {
      color: #8892b0;
      font-size: 1.5rem;
      transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
      display: inline-block;
      background-color: transparent;

      &:hover,
      &:active {
        color: #64ffda;
      }
    }
  }

  & hr {
    margin: 1rem auto;
    border: 0;
    width: 50%;
    border-top: 1px solid #233554;
  }
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;

  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #8892b0;
    font-size: 3rem;
    width: 5rem;
    height: 5rem;
    margin: $default-font-size $default-font-size;
    transition: all 0.2s ease-in;

    &:hover {
      color: #64ffda;
      transform: translateY(-2px);

      i {
        color: #64ffda;
      }
    }
  }
}

.back-to-top i {
  color: #8892b0;
  margin: 1rem 0 $default-font-size;
  transition: all 0.2s ease-in;

  &:hover {
    color: #64ffda;
    transform: translateY(-2px);
  }
}
